header {
  position: fixed;
  top: 0;
  padding: 5px 10px;
  background-color: #b8b8e0;
  z-index: 100;
  width: 100%;
}

header a {
  color: #003ec4 !important;
}

body {
  padding-top: 100px;
}

.item-picker {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  clear: both;

  font-size: 0.8em !important;
}

.item-picker li {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 2px 5px;
}

.js .cd-schedule__timeline {
  padding-top: 70px;
}

.cd-schedule {
  max-width: 100% !important;
}

.cd-schedule__event a {
  padding: 5px !important;
  font-weight: normal;
}

.cd-schedule__event a:before, .cd-schedule__event a div {
  color: black !important;
  line-height: 100% !important;
}


.cd-schedule__event a div.title {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 5px;
}

.cd-schedule__event .cd-schedule__name {
  font-size: 1em !important;
  margin-top: 2px !important;
  font-weight: normal !important;
}

.cd-schedule__event a div.teachers {
  width: 100%;
  text-align: center !important;
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 5px;;
}

.dayEnd {
  border-right: 3px solid silver !important;
}